.section-03{
    @extend .section;
    
    .holder-column{

        @include media('>=tablet'){
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
        
    }

    .img-holder{
        width: 100%; 

        img{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        @include media('>=tablet'){
            width: 50%;
        }
    }

    .holder-col{
        padding-top: 30px;

        @include media('>=tablet'){
            display: flex;
            flex-wrap: wrap;
            width: 50%;
            margin-bottom: 50px;
            
        }

        &.col1{
            background-image: url('../img/section03/section03_background01.svg');
            background-repeat: no-repeat;
            background-position: center;
            
            @include media('>=tablet'){
                background-position: right;
            }
            
        }

        &.col2{
            background-image: url('../img/section03/section03_background02.svg');
            background-repeat: no-repeat;
            background-position: left;
            
            @include media('>=tablet'){
                background-position: right;
            }
        }

        &.col3{
            background-image: url('../img/section03/section03_background03.svg');
            background-repeat: no-repeat;
            background-position: left;
            
            @include media('>=tablet'){
                background-position: right;
            }
        }

        &.col4{
            background-image: url('../img/section03/section03_background04.svg');
            background-repeat: no-repeat;
            background-position: left;
            
            @include media('>=tablet'){
                background-position: right;
            }
        }

        
    }
    
    .img-pad1{
        padding-top: 73px;
    }

    .img-pad2{
        padding-top: 71px;
    }

    .img-pad3{
        padding-top: 123px;
    }

    .img-pad4{
        padding-top: 86px;
    }

    

    .info-box{
        margin-bottom: 20px;
        width: 100%;
        padding-top: 49px;
        
        @include media('>=tablet'){
            width: 50%;
            padding-left: 20px;
            padding-right: 50px;
        }

        p{
            @include media('>=tablet'){
                max-width: 220px;
            }
        }
    }

    .title-holder{
        @include media('>=tablet'){
            margin-bottom: 100px;
        }
    }

    .section-title{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center; 
        justify-content: center;
        margin-bottom: 20px;
    }

    .section-text-holder {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
        max-width: 584px;

    }
    
    h3{
        font-size: 24px; 
    }

    li{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    a{
        text-decoration: none;
        letter-spacing: 0.005em;
        color: #212353;
        font-size: 16px;
        line-height: 160%;
    }

    
    .section-03-arrow-holder {
        display: inline-block;
    }
}

